body {
    background: rgb(0,36, 57);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(0, 80, 102);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(228, 239, 240);
    display: flex;
    border-radius: 30px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 300px;
    
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px silver ridge ;
    padding: 8px;
    border-radius: 30px;
}
h2, h3 {
    margin: 0px;
}


         /* portfolio styles */
         .content h1 {
            color: black;
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            border-radius: 30px;
        }

        #portfolio li:hover {
            background: #eee;
        }

        #portfolio a {
            text-decoration: none;
            color: #454545;
        }



         /* responsive web design */
         @media screen and (min-width: 120px) and (max-width: 1080px) {
            main {
              height: 100ch;
              zoom: 1.5;
              display: grid;
            }

            h1 {
              font-size: 44px;
            }

            h2 {
              font-size: 42px;
            }

            h3 {
              font-size: 36px;
            }

            #all-contents {
              height: 100ch;
              margin: none;
            }

            a {
              font-size: 42px;
            }

            .sidebar {
              margin-right: 0px;
              justify-content: center;
              align-items: center;
            }

            .sidebar-img {
              width: 100%;
            }

            p,
            li {
              font-size: 24px;
            }

            .content {
              align-content: center;
              justify-content: center;
            }
            
        }

        * {
          box-sizing: border-box;
        }
        
        /* Position the image container (needed to position the left and right arrows) */
        .container {
          position: relative;
        }
        
        /* Hide the images by default */
        .mySlides {
          display: none;
        }
        
        /* Add a pointer when hovering over the thumbnail images */
        .cursor {
          cursor: pointer;
        }
        
        /* Next & previous buttons */
        .prev,
        .next {
          cursor: pointer;
          position: absolute;
          top: 40%;
          width: auto;
          padding: 16px;
          margin-top: -50px;
          color: white;
          font-weight: bold;
          font-size: 20px;
          border-radius: 0 3px 3px 0;
          user-select: none;
          -webkit-user-select: none;
        }
        
        /* Position the "next button" to the right */
        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
        
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
        
        /* Number text (1/3 etc) */
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }
        
        /* Container for image text */
        .caption-container {
          text-align: center;
          background-color: #222;
          padding: 2px 16px;
          color: white;
        }
        
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Six columns side by side */
        .column {
          float: left;
          width: 16.66%;
        }
        
        /* Add a transparency effect for thumnbail images */
        .demo {
          opacity: 0.6;
        }
        
        .active,
        .demo:hover {
          opacity: 1;
        }
   