body {
    background: rgb(4, 33, 92);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}

#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(60, 65, 76);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    
}
h1 {
    display: flex;
    align-items: center;
    color: #78d2d8;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #83d4da;
}

/* main container area beneath menu */
main {
    background: #C5C6C7;
    display: flex;
    border-radius: 30px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 300px;
    
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgba(75, 90, 97, 0.343) ridge ;
    padding: 8px;
    border-radius: 30px;
}
h2, h3 {
    margin: 0px;
}


         /* portfolio styles */
         .content h1 {
            color: rgb(21, 21, 21);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }
        #portfolio body { 
          background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSld8BVgYm_R9wsFVA-fIs87owmZXAxYiSppw:https://live.staticflickr.com/4204/35289882581_9873438219_h.jpg&usqp=CAU");
        }
        #portfolio li {
          background: white;
          padding: 10px;
          border-radius: 10px;
          margin-bottom: 10px;
          border-radius: 30px;
      }

        #portfolio li:hover {
            background: #f2fcfe;
        }

        #portfolio a {
            text-decoration: none;
            color: #437d81;
        }



         /* responsive web design */
         @media screen and (min-width: 120px) and (max-width: 1080px) {
            main {
              height: 100ch;
              zoom: 1.5;
              display: grid;
            }

            h1 {
              font-size: 44px;
            }

            h2 {
              font-size: 42px;
            }

            h3 {
              font-size: 36px;
            }

            #all-contents {
              height: 100ch;
              margin: none;
            }

            a {
              font-size: 42px;
            }

            .sidebar {
              margin-right: 0px;
              justify-content: center;
              align-items: center;
            }

            .sidebar-img {
              width: 100%;
            }

            p,
            li {
              font-size: 24px;
            }

            .content {
              align-content: center;
              justify-content: center;
            } 