body {
    background-image: linear-gradient( #10345c,#21508d ) ;
    background-repeat: no-repeat;
    height: 723px
  
  }

#board {
    
    background: rgb(0, 0, 0);
    width: 320px;
    height: 310px;
    left: 0px;
    top: 0px;
}


.circle {
    background: rgba(138, 252, 252, 0.979);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
}